/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  font-family: inherit;
  display: inline-block;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
